USE [master]
GO
/****** Object:  Database [cursospringboot]    Script Date: 25/06/2026 19:10:17 ******/
CREATE DATABASE [cursospringboot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cursospringboot_Data', FILENAME = N'C:\Users\dario\BASEDADOS\CURSOJAVA\cursospringboot.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'cursospringboot_Log', FILENAME = N'C:\Users\dario\BASEDADOS\CURSOJAVA\cursospringboot_log.ldf' , SIZE = 5120KB , MAXSIZE = 2097152KB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cursospringboot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cursospringboot]
GO
/****** Object:  Schema [curso]    Script Date: 25/06/2026 19:10:18 ******/
CREATE SCHEMA [curso]
GO
/****** Object:  Table [curso].[tb_category]    Script Date: 25/06/2026 19:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [curso].[tb_category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
 CONSTRAINT [pkCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [curso].[tb_order]    Script Date: 25/06/2026 19:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [curso].[tb_order](
	[order_status] [int] NULL,
	[client_id] [bigint] NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[moment] [datetimeoffset](7) NULL,
 CONSTRAINT [pkOrder] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [curso].[tb_order_item]    Script Date: 25/06/2026 19:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [curso].[tb_order_item](
	[price] [float] NULL,
	[quantity] [int] NULL,
	[order_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
 CONSTRAINT [pkOrderItem] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [curso].[tb_payment]    Script Date: 25/06/2026 19:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [curso].[tb_payment](
	[moment] [datetimeoffset](7) NULL,
	[order_id] [bigint] NOT NULL,
 CONSTRAINT [pkPayment] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [curso].[tb_product]    Script Date: 25/06/2026 19:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [curso].[tb_product](
	[price] [float] NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[img_url] [varchar](255) NULL,
	[name] [varchar](255) NULL,
 CONSTRAINT [pkProduct] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [curso].[tb_product_category]    Script Date: 25/06/2026 19:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [curso].[tb_product_category](
	[category_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
 CONSTRAINT [pkProductCategory] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [curso].[tb_user]    Script Date: 25/06/2026 19:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [curso].[tb_user](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
 CONSTRAINT [pkUser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [curso].[tb_order]  WITH CHECK ADD  CONSTRAINT [fkOrderClient] FOREIGN KEY([client_id])
REFERENCES [curso].[tb_user] ([id])
GO
ALTER TABLE [curso].[tb_order] CHECK CONSTRAINT [fkOrderClient]
GO
ALTER TABLE [curso].[tb_order_item]  WITH CHECK ADD  CONSTRAINT [fkOrderItemOrder] FOREIGN KEY([order_id])
REFERENCES [curso].[tb_order] ([id])
GO
ALTER TABLE [curso].[tb_order_item] CHECK CONSTRAINT [fkOrderItemOrder]
GO
ALTER TABLE [curso].[tb_order_item]  WITH CHECK ADD  CONSTRAINT [fkOrderItemProduct] FOREIGN KEY([product_id])
REFERENCES [curso].[tb_product] ([id])
GO
ALTER TABLE [curso].[tb_order_item] CHECK CONSTRAINT [fkOrderItemProduct]
GO
ALTER TABLE [curso].[tb_payment]  WITH CHECK ADD  CONSTRAINT [fkPaymentOrder] FOREIGN KEY([order_id])
REFERENCES [curso].[tb_order] ([id])
GO
ALTER TABLE [curso].[tb_payment] CHECK CONSTRAINT [fkPaymentOrder]
GO
ALTER TABLE [curso].[tb_product_category]  WITH CHECK ADD  CONSTRAINT [fkProductCategoryCategory] FOREIGN KEY([category_id])
REFERENCES [curso].[tb_category] ([id])
GO
ALTER TABLE [curso].[tb_product_category] CHECK CONSTRAINT [fkProductCategoryCategory]
GO
ALTER TABLE [curso].[tb_product_category]  WITH CHECK ADD  CONSTRAINT [fkProductCategoryProduct] FOREIGN KEY([product_id])
REFERENCES [curso].[tb_product] ([id])
GO
ALTER TABLE [curso].[tb_product_category] CHECK CONSTRAINT [fkProductCategoryProduct]
GO
USE [master]
GO
